<ngx-ui-loader [fgsType]="'square-jelly-box'" [loaderId]="'01'"></ngx-ui-loader>
<div *ngIf="!(finalGame | async)" class="container">
  <div class="city-card">
    <div class="city-Name">City Name: {{this.curCityName}}</div>
    <input type="number" [(ngModel)]="this.tempOfUser">
    <button (click)="this.checkTemp()">{{check}}</button>
  </div>
  <div class="result-container">
    <div *ngFor="let res of this.results" class="res" [ngClass]="res.correctAnswer ? 'correct' : 'fail'">
      <div> Your temp: {{res.userTemp}} </div>
      <div> Was temp: {{res.rightTemp}} </div>
    </div>
  </div>
</div>
<div *ngIf="(finalGame | async)">
  <h3> Result: {{summerOfGame}}</h3>
</div>

